:8080 {
  root * /usr/share/caddy
  file_server

  handle_path /nextcloud* {
    reverse_proxy 127.0.0.1:80
  }

  redir /.well-known/carddav /nextcloud/remote.php/dav 301
  redir /.well-known/caldav /nextcloud/remote.php/dav 301
  # redir /.well-known/webfinger /nextcloud/index.php/.well-known/webfinger 301
  # redir /.well-known/nodeinfo /nextcloud/index.php/.well-known/nodeinfo 301
  redir /.well-known/* /nextcloud/index.php{uri} 301

  log {
    output stdout
  }

  # .htaccess / data / config / ... shouldn't be accessible from outside
  @forbidden {
    path    /.htaccess
    path    /data/*
    path    /config/*
    path    /db_structure
    path    /.xml
    path    /README
    path    /3rdparty/*
    path    /lib/*
    path    /templates/*
    path    /occ
    path    /console.php
  }

  respond @forbidden 404
}
